.App {
  width: 100%;
  height: 100%;
}

.appBackgroud {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.appBackgroud div {
  user-select: none;
}

.ellipse1 {
  position: absolute;
  width: 423px;
  height: 423px;
  left: 90%;
  bottom: -5%;

  background: #947DF1;
  opacity: 0.15;
  filter: blur(50px);
}

.ellipse2 {
  position: absolute;
  width: 423px;
  height: 423px;
  left: 90%;
  top: -5%;

  background: #DE459F;
  opacity: 0.1;
  filter: blur(50px);
}

.ellipse3 {
  position: absolute;
  width: 230px;
  height: 230px;
  left: 65%;
  top: 35%;

  background: #947DF1;
  opacity: 0.3;
  filter: blur(50px);
}

.ellipse4 {
  position: absolute;
  width: 230px;
  height: 230px;
  left: 50%;
  top: 85%;

  background: #F74440;
  opacity: 0.3;
  filter: blur(50px);
}

.ellipse5 {
  position: absolute;
  width: 272px;
  height: 260px;
  left: 15%;
  top: 62%;
  
  background: #F74440;
  opacity: 0.1;
  filter: blur(50px);
}

.ellipse6 {
  position: absolute;
  width: 262px;
  height: 262px;
  left: 2%;
  top: 25%;

  background: #20CD7E;
  opacity: 0.15;
  filter: blur(50px);
}

.ellipse7 {
  position: absolute;
  width: 230px;
  height: 230px;
  left: 30%;
  top: 3%;
  
  background: #FEDC32;
  opacity: 0.3;
  filter: blur(50px);
}

.dateBox {
  position: absolute;
  width: auto;
  height: 18px;
  left: 40px;
  top: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dateBox p {
  width: 47px;
  height: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  user-select: none;
}

.dateBox svg {
  width: 18px;
  height: 18px;
}

.footerBox {
  width: auto;
  height: 16px;
  position: absolute;
  right: 40px;
  bottom: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerBox p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #616161;
}

.footerDivider {
  height: 14px;
  top: 1px;
}

.content {
  position: fixed;
  width: 100%;
  height: 600px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
}

.content .timeline {
  width: 1440px;
  height: 9px;
  background: linear-gradient(90deg, rgba(255, 161, 19, 1) 0%, rgba(255, 161, 19, 1) 30%, rgba(203, 202, 200, 1) 33%, rgba(203, 202, 200, 1) 100%);
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 72px;
}